#cover{ position:fixed; top:0; left:0; background:rgba(0,0,0,0.6); z-index:5; width:100%; height:100%; display:block; } 
		
		.popScreen { 
			height:458px; 
			width:500px;
			margin:10px auto; 
			position:relative; 
			z-index:10; 
			display:block; 
			border:5px solid #cccccc; 
			border-radius:10px; 
			background: #FFFFFF;
		} 
		.cancel { 
			display:block; 
			position:absolute; 
			top:3px; right:2px; 
			background:rgb(245,245,245); 
			color:black; height:30px; width:35px; font-size:30px; 
			text-decoration:none; text-align:center; font-weight:bold; 
		} 
		.imageClass{
			margin-top: 5px;
			margin-left: 8px;
		}
		.name{

		  color: #ffffff;
		  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
		  background-color: #5bb75b;
		  *background-color: #51a351;
		  background-image: -moz-linear-gradient(top, #62c462, #51a351);
		  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
		  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
		  background-image: -o-linear-gradient(top, #62c462, #51a351);
		  background-image: linear-gradient(to bottom, #62c462, #51a351);
		  background-repeat: repeat-x;
		  border-color: #51a351 #51a351 #387038;
		  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
		  padding:11px;
		  font-size: 14pt;
		  float: left;
		  width: 300px;
		  margin-left: 5px;
		}

		.time{
			padding: 5px;
			color: #ffffff;
			text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
			background-color: #faa732;
			*background-color: #f89406;
			background-image: -moz-linear-gradient(top, #fbb450, #f89406);
			background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
			background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
			background-image: -o-linear-gradient(top, #fbb450, #f89406);
			background-image: linear-gradient(to bottom, #fbb450, #f89406);
			background-repeat: repeat-x;
			border-color: #f89406 #f89406 #ad6704;
			border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
			text-align: center;
			float: left;
		}

		.likes{
			  color: #ffffff;
			  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
			  background-color: #49afcd;
			  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
			  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
			  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
			  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
			  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
			  background-repeat: repeat-x;
			  border-color: #2f96b4 #2f96b4 #1f6377;
			  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
			  text-align: center;
			  width: 65px;
			  padding: 5px;
		}
		.main{
			margin-left: auto;
			margin-right: auto;
			margin-top: 0;
			padding: 15px;
		}
		.shadow{
			display: inline-block;
			margin-bottom: 0;
			line-height: 20px;
			text-align: center;
			text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
			vertical-align: middle;
			/**radius***/
			border: 1px solid #cccccc;
			border-color: #e6e6e6 #e6e6e6 #bfbfbf;
			border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
			border-bottom-color: #b3b3b3;
			-webkit-border-radius: 4px;
			-moz-border-radius: 4px;
			border-radius: 4px;
			/*****shadow*****/
			-webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		    -moz-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);
		    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.2), 0 1px 2px rgba(0, 0, 0, 0.05);	
		  }